* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Barlow', sans-serif;
}


/* nav- font-family: 'Barlow Condensed', ; */

header {
    margin: 2rem 2rem;
}

.main-nav {
    display: flex;
    justify-content: space-between;
}

.main-nav ul {
    display: flex;
    list-style: none;
    text-transform: uppercase;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
}

ul.main-menu li {
    color: hsl(230, 29%, 20%);
    padding-right: 40px;
}

ul.main-menu li:last-child {
    color: gray;
    padding-left: 30px;
}

.menu-btn {
    cursor: pointer;
    position: absolute;
    top: 2rem;
    right: 2rem;
    z-index: 2;
    display: none;
}

section img {
    padding: 2rem 2rem;
    width: 100%;
}

.content {
    margin-left: 2rem;
}

.heading span {
    background-color: hsl(230, 29%, 20%);
    color: white;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: normal;
    padding: 2px 8px;
    border-radius: 15px;
    margin-right: 7px;
}

.heading {
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
    color: hsl(210, 5%, 78%);
    letter-spacing: 3px;
}

.content h1 {
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
    color: hsl(230, 29%, 20%);
    margin: 1rem 0 1rem;
    font-size: 2.2rem;
}

.paragraph {
    color: hsl(230, 29%, 20%);
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.red-btn {
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
    border: none;
    color: white;
    background-color: hsl(0, 100%, 68%);
    padding: 10px 20px;
    border-radius: 6px;
}

.red-btn:hover {
    opacity: 0.8;
}

.inherit-btn {
    font-family: 'Barlow Condensed', sans-serif;
    border: none;
    text-transform: uppercase;
    background-color: inherit;
    color: hsl(210, 4%, 71%);
    padding: 10px 20px;
    border-radius: 6px;
}

.inherit-btn:hover {
    background-color: rgb(228, 222, 222);
}

@media screen and (max-width: 600px) {
    .menu-btn {
        display: block;
    }
    .menu-btn:hover {
        opacity: 0.5;
    }
    .main-nav ul.main-menu {
        display: block;
        position: absolute;
        top: 80px;
        left: 50px;
        background-color: rgba(255, 255, 255, 0.99);
        width: 230px;
        height: 200px;
        padding: 30px;
        transform: translateX(-500px);
        transition: transform 0.5s ease-in-out;
    }
    .main-nav ul.main-menu li {
        text-align: center;
        padding: 10px;
    }
    .main-nav ul.main-menu li:hover {
        opacity: 0.7;
    }
    .main-nav ul.main-menu li:nth-child(3) {
        padding-bottom: 15px;
        border-bottom: 1px solid rgb(128, 123, 123);
    }
    .main-nav ul.main-menu.show {
        transform: translateX(0px);
    }
}